<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<title>YAHP | {% block title %}{% endblock %}</title>

	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

	<!-- Choose your prefered color scheme -->
	<!-- <link href="css/light.css" rel="stylesheet"> -->
	<!-- <link href="css/dark.css" rel="stylesheet"> -->


	<!-- BEGIN SETTINGS -->
	<!-- Remove this after purchasing -->
	<link class="js-stylesheet" href="{% static 'css/light.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/7abd7d5acf.js" crossorigin="anonymous"></script>
	<script src="{% static 'js/settings.js' %}"></script>
	{% block page_styles %}
	{% endblock %}
	<style>
		body {
			opacity: 0;
		}
	</style>
	<!-- END SETTINGS -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120946860-10', { 'anonymize_ip': true });
</script>
</head>
<!--
  HOW TO USE: 
  data-theme: default (default), dark, light, colored
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-layout: default (default), compact
-->

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
	<div class="wrapper">
		{% include 'sidebar.html' %}
		
		<div class="main">
			{% include 'navbar.html' %}

			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-primary alert-dismissible" role="alert">
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						<div class="alert-message">
							<!-- <strong>Hello there!</strong> A simple primary alert-check it out! -->
							{{message}}
						</div>
					</div>
					<!-- <li{% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li> -->
				{% endfor %}
			{% endif %}
			

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">{% block heading %}{% endblock %}</h1>

					<!-- <div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Empty card</h5>
								</div>
								<div class="card-body">
								</div>
							</div>
						</div>
					</div> -->
					{% block content %}

					{% endblock %}

				</div>
			</main>

			{% include 'footer.html' %}
		</div>
	</div>

	<script src="{% static 'js/app.js' %}"></script>

	<!-- Notification scripts -->
	<!-- <script>

	document.addEventListener("DOMContentLoaded", function(event) { 
		setTimeout(function(){
		if(localStorage.getItem('popState') !== 'shown'){
			window.notyf.open({
			type: "success",
			message: "Get access to all 500+ components and 45+ pages with AdminKit PRO. <u><a class=\"text-white\" href=\"https://adminkit.io/pricing\" target=\"_blank\">More info</a></u> 🚀",
			duration: 10000,
			ripple: true,
			dismissible: false,
			position: {
				x: "left",
				y: "bottom"
			}
			});

			localStorage.setItem('popState','shown');
		}
		}, 15000);
	});
	</script> -->

	{% block page_scripts %}
	{% endblock %}
</body>

</html>